.title-head {
  color: white;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  margin-bottom: 100px;
}

body {
  background-color: black;
}

button {
  margin-bottom: 15px;
}

.category {
  color: white;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}

#original {
  color: green;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
}

#scrambled-word {
  text-align: center;
}

#word-field {
  text-align: center;
}

#guess-field {
  text-align: center;
}

.letter-scrambled {
  color: blue;
  height: 60px;
  width: 60px;
  padding-left: 10px;
  padding-right:10px;
  background: black;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  border: 1px solid blue;
}

.letter-unscrambled {
  color: blue;
  background: green;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 800;
  text-align: center;
  border: 1px solid blue;
  padding-left: 10px;
  padding-right:10px;
  margin-left: 5px;
}

.correct-letter {
  color: white;
  background-color: green;
  border: 1px solid black;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 800;
  text-align: center;
  border: 1px solid blue;
  padding-left: 10px;
  padding-right:10px;
  margin-left:5px;
}

.incorrect-letter {
  color: white;
  background-color: red;
  border: 1px solid black;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 800;
  text-align: center;
  border: 1px solid blue;
  padding-left: 10px;
  padding-right:10px;
  margin-left:5px;
}

.button-container {
  margin-top: 200px;
  text-align: center;
}
#get-word {
  margin-right: 10px;
}
#give-up {
  margin-left: 10px;
}
